
$content:                               1024px;

$radius-base:                           8px;

$transition-time:                       100ms;

// Font
//---------------------------------
$main-font:                             'Source Sans Pro', 'Verdana', sans-serif;
$font-size_s:                           12px;
$font-size_m:                           16px;
$font-size_l:                           18px;
$line-height:                           1.5;
$font-weight_regular:                   400;
$font-weight_bold:                      600;

// Colors
//---------------------------------
$color-black:                           #1a191d;
$color-white:                           #ffffff;
$color-grey:                            #f3f2f5;
$color-grey_dark:                       #77767b;
$color-silver:                          #e0dfe1;

$border-color:                          $color-grey;
$text-color_black:                      $color-black;
$text-color_grey:                       $color-grey_dark;
